<mat-card class="card-properties">
    <mat-card-title>React Project Config</mat-card-title>
    <mat-card-subtitle>Setup and configure react project</mat-card-subtitle>
    <mat-divider inset></mat-divider>
    <mat-card-content class="card-content-peroperties">
        <p><b>Create New React Project</b></p>
        <section class="section-properties">
            <p>npx create-react-app my-app</p>
        </section>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer>
        <div class="button-properties">
            <button mat-raised-button color="primary">More on React</button>
        </div>
    </mat-card-footer>
</mat-card>