<mat-card class="card-properties">
    <mat-card-title>Angular Project Config</mat-card-title>
    <mat-card-subtitle>Setup and configure angular project</mat-card-subtitle>
    <mat-divider inset></mat-divider>
    <mat-card-content class="card-content-peroperties">
        <p><b>Create New Angular Project</b></p>
        <section class="section-properties">
            <p>ng new 'project-name'</p>
        </section>

        <p><b>Install boostrap</b></p>
        <section class="section-properties">
            <p>npm i boostrap</p>
        </section>

        <p><b>Install jquery</b></p>
        <section class="section-properties">
            <p>npm i jquery</p>
        </section>

        <p><b>Import Bootstrap in src/styles.scss</b></p>
        <section class="section-properties">
            <p>@import "~bootstrap/dist/css/bootrap.css"</p>
        </section>

        <p><b>replace all contents from src/app/app.component.html with the following</b></p>
        <section class="section-properties">
            <p>&lt;router-outlet&gt;&lt;/router-outlet&gt;</p>
        </section>

        <p><b>Generate component (Home Component)</b></p>
        <section class="section-properties">
            <p>ng g c home</p>
        </section>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer>
        <div class="button-properties">
            <button mat-raised-button color="primary">More on Angular</button>
        </div>
    </mat-card-footer>
</mat-card>