<mat-card class="card-properties">
    <mat-card-title>AWS Lambda Project Config</mat-card-title>
    <mat-card-subtitle>Setup and configure an AWS Lambda Serverless project</mat-card-subtitle>
    <mat-divider inset></mat-divider>
    <mat-card-content class="card-content-peroperties">
        <p><b>Create New Serverless Project</b></p>
        <section class="section-properties">
            <p>serverless create --template aws-nodejs</p>
        </section>

        <p><b>Configure Credentials Command</b></p>
        <section class="section-properties">
            <p>serverless config credentials --provider aws --key 1234 --secret 5678</p>
        </section>

        <p><b>My Key</b></p>
        <section class="section-properties">
            <p>{{ key }}</p>
        </section>

        <p><b>My Secret</b></p>
        <section class="section-properties">
            <p>{{ secret }}</p>
        </section>

        <p><b>My Own configuration</b></p>
        <section class="section-properties">
            <p>serverless config credentials --provider aws --key {{ key }} --secret {{ secret }}</p>
        </section>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer>
        <div class="button-properties">
            <button mat-raised-button color="primary">More on AWS Serverless Functions</button>
        </div>
    </mat-card-footer>
</mat-card>