/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
}

.card-properties {
    width: 100%;
    height: 87vh;
    margin-top: 25px;
}

.card-content-peroperties {
    margin-top: 25px;
}

.section-properties {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(40, 44, 52);
    color: black;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.section-properties p {
    color: whitesmoke;
    margin-top: 13px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.header h1 {
    font-size: 24px;
    font-weight: 500;
}

.button-properties {
    margin-left: 10px;
    margin-top: 10px;
}